# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Environment
.env

# IDE files
.idea/
.vscode/
*.iml

# macOS (General)
.DS_Store
*.dmg        # Ignore all macOS disk images

# macOS (Flutter)
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Xcode
**/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Android
android/.gradle/
android/local.properties
android/app/build/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Web
lib/generated_plugin_registrant.dart
web/.dart_tool/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Coverage
coverage/
